<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd 
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
 
    <mvc:annotation-driven/>
    
    <!-- Views -->
    <mvc:default-servlet-handler/>
 	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
 		<property name="prefix" value="/WEB-INF/views/"></property>
 		<property name="suffix" value=".jsp"></property>
 	</bean>
 	
 	
 	
<!--  	 JPA - Persistence -->
 	
<!--  	<tx:annotation-driven transaction-manager="txManager" />   -->
    
    
<!--      Gerenciador de transacoes baseado em JPA    -->
<!--     <bean id="txManager"   -->
<!--         class="org.springframework.orm.jpa.JpaTransactionManager">   -->
<!--         <property name="entityManagerFactory"   -->
<!--             ref="entityManagerFactory" />   -->
<!--     </bean>     -->
 	
 	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
  		<property name="persistenceUnitName" value="mySqlDataSource" /> 
  		<property name="dataSource" ref="mySqlDataSource" />
  		<property name="jpaVendorAdapter">
    		<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
    			<property name="showSql" value="true" />  
            	<property name="generateDdl" value="true" />  
            	<property name="database" value="MYSQL" /> 
    		</bean>
  		</property>
  		<property name="jpaProperties">  
            <props>  
                <prop key="hibernate.dialect">  
                    org.hibernate.dialect.MySQLDialect  
                </prop>  
            </props>  
        </property>  
	</bean>

	<bean id="mySqlDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    	<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    	<property name="url" value="jdbc:mysql://localhost:3306/pi4" />
    	<property name="username" value="root"/>
    	<property name="password" value=""/>
	</bean>
</beans>